accelerate==0.33.0
av==12.3.0
CairoSVG==2.7.1
decord==0.6.0
deepspeed==0.14.4
diffusers==0.24.0
easydict==1.13
editdistance==0.8.1
einops==0.8.0
fire==0.4.0
gradio==5.13.1
huggingface_hub==0.25.1
imagesize==1.4.1
librosa==0.10.2.post1
numpy==1.26.3
numba==0.60.0
omegaconf==2.3.0
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
Pillow==11.1.0
Requests==2.32.3
scipy==1.15.1
scikit-image==0.24.0
speechbrain==1.0.0
torch==2.4.0
torchaudio==2.4.0
tqdm==4.66.5
transformers==4.46.0
ujson==5.10.0
utils==1.0.2
